.icon-button {
  border: none;
  background: transparent;
  padding: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: .2s ease;
  color: inherit;
}

.icon-button:hover {
  transform: translateY(-1px);
  opacity: .9;
}

.icon {
  width: 20px;
  height: 20px;
}