<<<<<<< HEAD
html, body {
  margin: 0;
  font-family: var(--font-ui, Inter, sans-serif);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
=======
body {
  margin: 0;
>>>>>>> 1724cd0d76d6c185df29096f799b283048f07944
}
