.tabButton {
  border-radius: 0.375rem !important;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.4rem 1rem;
  margin-right: 0.5rem;
  color: #0f172a !important;
  background-color: #ffffff !important;  
  border: 1px solid #cbd5e1 !important;  
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}

.tabButton:hover {
  background-color: #e2e8f0 !important;
}

.active {
  background-color: #f3fdff !important; 
  border: 1px solid #e2e2e2 !important;
  color: black !important;            
}
