.user-topbar {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
} 

.user-profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 9999px;
  background: #06b6d4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.user-avatar-text {
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
}

.user-name {
  color: #000000;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.25;
  margin: 0;
}

.user-email {
  color: #000000;
  font-size: 20px;
  margin: 0;
}

.user-registered {
  color: #000000;
  font-size: 18px;
  margin: 0;
}

.user-actions {
  display: flex;
  gap: 12px;
}

.user-icon-button {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}

@media(max-width: 550px) {
  .user-avatar {
    width: 65px;
    height: 65px;
  }

  .user-avatar-text {
    font-size: 24px;
  }

  .user-name {
    font-size: 20px;
  }

  .user-email {
    font-size: 18px;
  }

  .user-registred {
    font-size: 16px;
  }

  .user-profile {
    gap: 8px;
    margin-left: 10px;
  }

  .user-topbar {
    padding: 0;
  }

  .user-actions {
    flex-direction: column;
  }
}
