.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: #f3fdff;
  border: none;
  border-radius: 0.375rem;
  padding: 0.5rem; 
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); 
}

.title,
.value {
  color: #000000;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  font-size: 24px;
}

@media (max-width: 550px) {
  .title,
  .value {
    font-size: 16px;
  }
}
